.myAppDemoWT .myCustomButton.sapMBtn {
	margin-right: 0.125rem
  }
  
  html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
	margin-left: 0.125rem;
	margin-right: 0 
  }
  .myAppDemoWT .myCustomText {
	font-weight: bold;
  }